body {
	background-color: white;
	font-family: 'Inter', 'Roboto', sans;
	font-size: 1em;
}

#main-card {
	background-color: white;
	border-style: solid;
	border-color: #CCCCCC;
	border-radius: 2px;
	border-width: thin;
	margin-top: 15%;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}

#auth-voucher {
	background-color: white;
	border-style: solid;
	border-color: #CCCCCC;
	border-radius: 2px;
	border-width: thin;
	padding-top: 1%;
	padding-bottom: 1%;
}

#submit {
	background-color: white;
	border-style: solid;
	border-color: #CCCCCC;
	border-radius: 2px;
	border-width: thin;
	padding-top: 1%;
	padding-bottom: 1%;
}

#main-form {
	margin-top: 2%;
}

#switch-div {
	padding-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 43px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 2px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FF4316;
  -webkit-transition: .4s;
  transition: .4s;
  margin-top: 0%;
  margin-bottom: 15%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #50FF36;
}

input:focus + .slider {
  box-shadow: 0 0 1px #50FF36;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}